@model IEnumerable<List<Pixel.GEC.Attendance.Authorization.Users.Dto.InOutReportOutput>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تقرير الحضور والانصراف </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <style>
        .page-break {
            page-break-before: always;
        }
        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
        .table td {
            text-align: center;
        }
        .absent {
            background-color: indianred !important;
        }
       .holiday{
           background-color:lightgreen !important;
       }
        table.print-friendly tr {
            page-break-inside: avoid;
        }
        .forgetFinger {
            background-color: coral !important;
        }
    </style>
</head>
<body>
    @foreach (var userList in Model)
    {
       <table class="table">
           <tbody>
               <tr>
                   <td style="text-align:right;font-size:20px;font-weight:bold">
                     الإسم :   @userList[0].UserName
                   </td>
                   <td style="text-align:right;font-size:20px;font-weight:bold">
                     الإدارة :  @userList[0].UnitName
                   </td>
               </tr>
           </tbody>
       </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">
                    التاريخ
                </th>
                <th class="text-center">
                    اليوم
                </th>
                <th class="text-center">
                    الدوام
                </th>
                <th class="text-center">
                    دخول
                </th>
                <th  class="text-center">
                   خروج
                </th>
                <th class="text-center">
                   تأخير
                </th>

                <th class="text-center">
                   خروج مبكر
                </th>

                <th class="text-center">
                   اضافي
                </th>
                <th class="text-center">
                   الحاله 
                </th>
                <th class="text-center"s>
                   ملاحظات
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userList)
            {
                var rowColor = "";
                @if (item.IsAbsent.Value == 1)
                {
                    rowColor = "absent";
                }

                @if (!string.IsNullOrEmpty(item.HolidayName) || !string.IsNullOrEmpty(item.LeaveTypeNameA) || !string.IsNullOrEmpty(item.OfficialTaskTypeNameAr))
                {
                    rowColor = "holiday";
                }

                if(item.ForgetOut.Value == 1 || item.ForgetIn.Value == 1)
                {
                    rowColor = "forgetFinger";
                    
                }


            <tr class="@rowColor">
                <td>
                    @item.AttendanceDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("ar-AE"))
                </td>
                <td>
                    @item.AttendanceDate.Value.ToString("dddd", new System.Globalization.CultureInfo("ar-AE"))
                </td>

                <td>
                    @item.ShiftNameAr
                </td>

                <td>
                    @item.AttendanceInStr
                </td>

                <td>
                    @item.AttendanceOutStr
                </td>

                <td>
                    @item.AttendanceLateIn
                </td>

                <td>
                    @item.AttendanceEarlyOut
                </td>

                <td>
                    @item.OverTime
                </td>

                <td>
                    <div>
                        @if (item.IsAbsent.Value == 1)
                        {
                            <p>غياب</p>
                        }

                        @if (!string.IsNullOrEmpty(item.LeaveTypeNameA))
                        {
                            <p>@item.LeaveTypeNameA</p>
                        }

                        @if (!string.IsNullOrEmpty(item.HolidayName))
                        {
                            <p>@item.HolidayName</p>
                        }


                        @if (!string.IsNullOrEmpty(item.OfficialTaskTypeNameAr))
                        {
                            <p>@item.OfficialTaskTypeNameAr</p>
                        }

                    </div>
                </td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
    <table class="table" style="page-break-inside: avoid;" >
        <tbody>
            <tr>
            
                <td>
                    نوع الخصم
                </td>

                <td>
                    الكميه
                </td>
                <td>
                    ايام الخصم
                </td>
            </tr>
            <tr>
                <td>  دقائق التأخير  </td>
                <td>   @userList.Sum(x => x.AttendanceLateIn + x.AttendanceEarlyOut) </td>
                <td>0</td>
                <td>يوم</td>
            </tr>
            <tr>
                <td>  نسيان البصمة  </td>
                <td>@(userList[0].NoOutCount + userList[0].NoInCount)  </td>
                <td>0</td>
                <td>يوم</td>
            </tr>
            <tr>
                <td>   الغياب  </td>
                <td>@userList[0].AbsentsCount</td>
                <td>@userList[0].AbsentsCount</td>
                <td>يوم</td>
            </tr>
            
        </tbody>
    </table>
            <div class="page-break"></div>
    }

</body>
</html>
